* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;  
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #F2C6A0, #F2E3D5, #F2A172, #D9805F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.message {

    text-align: center;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

#nav-left {

    font-size: xx-large;    
    text-decoration: none;
    text-align: center;
    height: 100px;   
}

#nav-left a {

    text-decoration: none;
    color: #A63B32;    
}

#nav-right {
   
    font-size: x-large;
    text-decoration: none;
    background: linear-gradient(45deg, #F2C6A0, #F2E3D5, #F2A172, #D9805F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba( 159, 162, 177, .8 );
    display: flex;
    overflow: hidden;
}

#nav-right a {
    
    text-decoration: none;
    color: #A63B32;
    padding: 20px;
    margin: 0 6px;
    position: relative;
    transition: 0.3s;
}

#nav-right a:before {
    
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: #a63c328a;
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: 0.3s;
}

#nav-right a:not(.is-active):hover:before {

    bottom: 0;   
}

#nav-right a:not(.is-active):hover {

    color: #0000002f;
}


#forum {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(-45deg, #F2C6A0, #F2E3D5, #F2A172, #D9805F);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
    min-height: 100vh;
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

#forum  form{

 display: flex;
 flex-direction: column;
}

#forum  input{

    width: 300px;
    height: 50px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #F2A172;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    box-shadow: 0 10px 40px rgba(177, 169, 159, 0.8);
    border-radius: 10px;
}

#forum  textarea{

    width: 300px;
    height: 200px;
    border-radius: 10%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: #f2a17254;
    transition: 0.4s;
    color: #ffffff;
    font-size: 1em;    
}

#forum  label{

    color: #A63B32;
    text-align: center;
}

#forum  h1{

    color: #A63B32;
    font-size: 3.2em;
    text-align: center;
    padding-bottom: 20px;
}

footer {

    text-align: right;
    position:fixed;
    bottom: 0;
    margin-top: 100px;
    width:100%;
    height:20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    color: #A63B32;
}

.topic {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    padding: 2%;
    background: linear-gradient(45deg, #F2C6A0, #F2E3D5, #F2A172, #D9805F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.4s;  
    overflow: auto;
    color: #A63B32;
    overflow: hidden;
    font-size: 1.4em;
    position: relative;
}

.topic:hover {

    background-color: beige;
    width: 35%;
    height: 110%;
    font-size: 1.6em;
}

.topic a {

    text-decoration: none;
    font-size: 2em;
    color: #A63B32;
    transition: 0.1s;
}

.topic a:hover {

    text-decoration: none;
    font-size: 2.1em;
    color: #A63B32;
}

.topic .fa-trash {

    position: fixed;
    right: 5%;
    top: 70%;
    font-size: 0.6em;
    transition: 0.4s;
}

.topic .fa-trash:hover {

    color: rgba(255, 0, 0, 0.496);
}

.topic .fa-pen-to-square {

    position: fixed;
    right: 4.5%;
    top: 40%;
    font-size: 0.6em;
    transition: 0.4s;
}

.topic .fa-pen-to-square:hover {

    color: rgba(47, 175, 255, 0.612);
}

.topic .fa-unlock {

    position: fixed;
    left: 5%;
    bottom: 10%;
    font-size: 0.6em;
}

.topic .fa-unlock:hover {

    color: rgba(172, 255, 47, 0.563); 
}

.topic .fa-lock {

    position: fixed;
    left: 5%;
    bottom: 10%;
    font-size: 0.6em;
}

.topic .fa-lock:hover {

    color: rgba(255, 1, 1, 0.563); 
}

